@import "../../styles/variables";


.btn {
  font-weight: 600;
  padding: 13px 40px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in;
  color: #fff;
  background-color: $color__main;
  text-decoration: none;
  display: inline-block;
  position: relative;

  &:hover {
    background-color: rgba($color__main, 0.5);
  }
}