@import '../../styles/variables';

main.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  h2 {
    font-size: 130px;
    line-height: 130px;
    text-transform: capitalize;
    margin: 0;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-align: center;

    span {
      color: $color__main;
    }

    @include mobile-title;
  }

  p {
    color: #fff;
    font-size: 18px;
  }
  
  .hover {

    svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #fff;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 1s ease-in-out;

      &:hover {
        stroke-dashoffset: -480;
      }
    }
  }

  .homeContact {
    position: absolute;
    left: 40px;
    bottom: 30px;

    p {
      margin: 0;
      font-size: 13px;
      line-height: 23px;

      &:not(span) > a {
        display: block;
        color: $color__main;

        &:hover {
          text-decoration: underline;
        }
      }


      span {
        display: block;

        a:hover {
          color: $color__main;
        }
      }
    }
  }

  .homeSocial {
    position: absolute;
    right: 30px;
    bottom: 24px;

    ul {
      list-style: none;
      display: flex;
      gap: 15px;

      a {
        color: white;

        &:hover {
          color: $color__main;
        }

        svg {
          font-size: 30px;
        }
      }
    }
  }
}