@import '../../styles/variables';

main.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px 30px 30px;

  h2 {
    margin: 100px 0;
    font-size: 80px;
    line-height: 130px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: $color__text;
    text-align: center;

    span {
      color: $color__main;
    }

    @include mobile-title;
  }

  .list {
    .item {
      margin-bottom: 30px;
      display: flex;
      gap: 30px;

      img {
        max-width: 500px;
        width: 100%;
      }

      h3 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 38px;
        font-family: "Playfair Display", serif;
        margin: 0 0 30px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 30px;

        li {
          font-family: monospace;
          font-size: 18px;
        }
      }
    }

    @include tablet {
      .item {
        flex-direction: column;

        img {
          margin: 0 auto;
        }
      }
    }
  }
}